syntax: glob

# project specific

eng/bch/src/*/package-lock.json
eng/bch/vol/db/clh/**
eng/bch/vol/db/rds/**

# esf

atf/.cre
tst/d/o/**
npm.upd.sh

# web

.well-known

# common

.package.bkp.json

# common

.env*
.mat
.cre
.directory
.dld
.idea
.vscode
.pcs
.run
.tmp
.tst
.maps
build/Release
logs
nbproject
node_modules
pids

~*

nohup.out

*.gz
*.rar
*.tar
*.zip

*.log
*.pid
*.seed
*session
*session-*

tst/ut-cov
tst/basic-cocomo-*
lcov.info
lib-cov
coverage

.grunt
.lock-wscript
desktop.ini
thumbs.db
config.json
temp_file
uploads
gctpr-414413-9d8ae1981762.json
temp_image
vol
temp_file
dist
__pycache__
vol
footage
*.mp4
*.mp3
cookies.json
log
cookies*